@import 'normalize.scss';

// === Mixins ===
@mixin font-lato {
  font-family: 'Lato', sans-serif;
}

@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
// === Mixins ===

// === Variables ===
$color-white: #fff;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// === / Variables ===

// == Common ===
* {
  box-sizing: border-box;
}

body {
  @include font-lato;

  color: #414141;
}

.section-outer {
  padding-right: 20px;
  padding-left: 20px;
}

.section-inner {
  max-width: 1180px;
  margin: 0 auto;
}

.description-item {
  &__icon {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: bold;
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6c6c6c;
  }
}

@mixin start-button {
  @include font-montserrat;

  display: inline-block;
  padding: 16px 20px;
  margin: 0;
  font-size: 16px;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}

.btn-main {
  @include start-button;

  background: linear-gradient(to right, #fe985b, #fe4fa7);
  border: none;
}

.btn-secondary {
  @include start-button;

  color: #414141;
  background: $color-white;
  border: 1px solid #414141;
}

.btn-free {
  @include start-button;

  color: #414141;
  background: $color-white;
  border: none;
}
// === / Common ===

// === header ===
.section-header {
  position: relative;
  color: #fff;
  background: url('../img/bg-header.png') no-repeat 50% 50%;
  background-size: cover;

  .section-inner {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    content: '';
    background-color: rgba(20, 39, 41, 0.6);
  }

  &-logo {
    flex-shrink: 1;
    padding-top: 35px;
    font-size: 24px;
    font-weight: bold;
  }

  &-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &-wrapper {
    margin: 0 auto;

    &__title,
    &__subtitle {
      text-align: center;
    }

    &__title {
      font-size: 56px;
      font-weight: bold;
      line-height: 60px;
    }

    &__subtitle {
      @include font-montserrat;

      width: 80%;
      margin: 0 auto 40px;
      font-size: 18px;
      line-height: 32px;
    }

    &__form {
      display: flex;

      &-input {
        flex: 1;

        input {
          @include font-montserrat;

          width: 100%;
          padding: 16px 20px;
          margin: 0;
          font-size: 16px;
          color: $color-white;
          background: rgba(255, 255, 255, 0.25);
          border: none;
          border-radius: 4px;
          outline: none;
          transition-duration: 200ms;

          &::placeholder {
            color: $color-white;
          }

          &:hover {
            background: rgba(255, 255, 255, 0.5);
          }
        }
      }

      @media (max-width: $screen-xs-max) {
        flex-direction: column;

        &-input {
          margin-bottom: 10px;
        }

        &-button {
          flex: 1;

          .btn-main {
            display: block;
            width: 100%;
          }
        }
      }

      @media (min-width: $screen-sm) {
        &-input {
          padding-right: 40px;
        }
      }
    }
  }
}
// === / header ===

// === promo ===
.section-promo {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-promo-1 {
  display: flex;

  &__content,
  &__video {
    flex-basis: 50%;
  }

  &__content {
    .title {
      margin-bottom: 56px;
      font-size: 32px;
      font-weight: bold;
      line-height: 51px;
    }

    .description-item {
      margin-top: 28px;
    }
  }

  &__video {
    img {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: $screen-sm-max) {
    flex-direction: column;

    &__video {
      order: -1;
      margin-bottom: 20px;
    }
  }

  @media (min-width: $screen-md) {
    &__content {
      padding-right: 90px;
    }
  }
}

.section-promo-2 {
  display: flex;
  padding-top: 86px;
  margin-top: 120px;
  text-align: center;
  border-top: 1px solid #e2e2e2;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;

    .description-item + .description-item {
      margin-top: 20px;
    }
  }

  @media (min-width: $screen-sm) {
    .description-item + .description-item {
      margin-left: 40px;
    }
  }
}
// === / promo ===

// === founder ===
.section-founder {
  padding-top: 34px;
  background-color: #f6fafd;

  .section-inner {
    display: flex;
  }

  &__content {
    &-text {
      @include font-montserrat;

      font-size: 24px;
      line-height: 40px;
    }

    &-name {
      font-size: 24px;
      font-weight: bold;
      line-height: 29px;
    }

    &-post {
      font-size: 20px;
      line-height: 29px;
    }
  }

  @media (max-width: $screen-sm-max) {
    .section-inner {
      flex-direction: column;
    }

    &__img {
      img {
        max-width: 100%;
      }
    }

    &__content {
      order: -1;
      margin-bottom: 40px;
    }
  }

  @media (min-width: $screen-md) {
    &__img {
      align-self: flex-end;
    }

    &__content {
      align-self: center;
      padding-left: 50px;
    }
  }
}
// === / founder ===

// === plans ===
.section-plans {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;

  &__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 51px;
  }

  &__subtitle {
    margin-bottom: 80px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
  }

  &__list {
    display: flex;
    justify-content: center;

    &-item {
      flex-basis: 370px;
      padding: 60px 45px;

      &__title {
        margin-bottom: 26px;
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        text-transform: uppercase;
      }

      &__price {
        margin-bottom: 26px;

        .prefix {
          font-size: 72px;
          font-weight: bold;
          line-height: 86px;
          color: #fe4fa7;
        }

        .postfix {
          font-size: 14px;
          font-weight: bold;
          line-height: 17px;
        }
      }

      &__description {
        margin-bottom: 50px;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
      }

      &.active {
        background-color: #f6fafd;
      }
    }

    @media (max-width: $screen-xs-max) {
      flex-direction: column;
    }
  }

  @media (min-width: $screen-sm) {
    &__subtitle {
      width: 50%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
// === / plans ===

// === free ===
.section-free {
  padding-top: 120px;
  padding-bottom: 120px;
  color: $color-white;
  text-align: center;
  background: linear-gradient(to right, #fe985b, #fe4fa7);

  &__title {
    margin-bottom: 26px;
    font-size: 55px;
    font-weight: bold;
    line-height: 60px;
  }

  &__description {
    @include font-montserrat;

    margin: 0 auto 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $screen-md) {
    &__description {
      width: 50%;
    }
  }
}
// === / free ===

// === footer ===
.section-footer {
  padding-top: 80px;
  padding-bottom: 80px;

  &__logo {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
  }

  &__nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 75px;
    list-style: none;

    li {
      a {
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        color: #414141;
        text-decoration: none;
        text-transform: uppercase;
        transition-duration: 200ms;

        &.active {
          color: #fe50a6;
        }

        &:hover {
          color: #fe50a6;
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      flex-direction: column;
      text-align: center;

      li {
        & + li {
          margin-top: 10px;
        }
      }
    }

    @media (min-width: $screen-sm) {
      li {
        & + li {
          margin-left: 60px;
        }
      }
    }
  }

  &__copyright {
    @include font-montserrat;

    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $screen-xl) {
      width: 60%;
      margin: 0 auto;
    }

    @media (max-width: $screen-sm-max) {
      flex-direction: column;
      text-align: center;
    }
  }
}

.halper-link {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    & + li {
      margin-left: 20px;
    }

    a {
      color: #414141;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    display: inline-flex;
    margin-top: 20px;
  }

  @media (min-width: $screen-md) {
    display: flex;
  }
}
// === / footer ===
